.card-header{
    font-family: "Inter",sans-serif;
font-size: 16px;
font-weight: 200;
line-height: 17.6px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color:#262D34;
}
.card-header1{
    font-family: "Inter",sans-serif;
font-size: 16px;
font-weight: 200;
line-height: 17.6px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color:#262D34;
}

.checkinput1{
    background-color:#30C37C !important;
    border:none;
        width: 49.5px !important;
    height: 27px;
}
.submitbutton{
    width: 258px;
height: 50px;
border-radius: 10px !important;
font-family: "Inter",sans-serif;
font-size: 14px;
font-weight: 600;
line-height: 21px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
 background-color:#30C37C !important;
 color:#ffffff !important;
}
.submitbutton1{
    width: 258px;
height: 50px;
border-radius: 10px !important;
font-family: "Inter",sans-serif;
font-size: 14px;
font-weight: 600;
line-height: 21px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color:#30C37C !important;

}
    .addsuccess{
  font-size: 14px;
                font-weight: 400;
                color: #363636;
                font-family: 'Inter', sans-serif;
                margin-top: -1.5rem;
                margin-bottom: 20px;
}
.mcon{
width: 384px; height: 146px

}
.form-control{
  border-radius:10px !important;
}
.editcross{
    position: absolute; top: 10px; right: 10px;
}
.input-group-text {
  background-color: #fff; /* Match input background */
  border-right: none; /* Remove border between icon and input */
}

.form-control {
  border-left: none; /* Match border styling */
}
.eyeicon{
    position:absolute !important;
    top: 50% !important; right: 10px; transform: translateY(-50%); cursor: pointer;
}
.togglePassword{
   border: none !important;
        background: none !important;
        position: absolute;
        left: 95%;
        top: 52%;
        transform: translate(-50%, -50%);
        color:#8C8C8C !important;
}
.heading{
    font-family: 'Inter',sans-serif;
font-size: 16px;
font-weight: 600;
line-height: 17.6px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
.changepasswordpart{
  margin-top:1% !important;
}
.adminchangepassword{
   position:absolute !important;
      margin-top: 1% !important;
          width: -webkit-fill-available;
                  margin-right: 2%;
        margin-left: 1%;
}
@media (max-width: 575.98px) {
.changepasswordpart{
  margin-top:5% !important;
}
.adminchangepassword{
   position:absolute !important;
      margin-top: 3% !important;
          width: -webkit-fill-available;
                  margin-right: 2%;
        margin-left: 1%;
}
.togglePassword{
   border: none !important;
        background: none !important;
        position: absolute;
        left: 95%;
        top: 52%;
        transform: translate(-50%, -50%);
        color:#8C8C8C !important;
}
.submitbutton {
                  width: 94% !important;
        height: 50px !important;
        border-radius: 10px !important;
        font-family: "Inter", sans-serif !important;
        font-size: 14px !important;
        font-weight: 600 !important;
        line-height: 21px !important;
        text-align: center !important;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        background-color: #30C37C !important;
        color: #ffffff !important;
}

}
@media (min-width: 375px) {
.changepasswordpart{
  margin-top:1% !important;
}
.adminchangepassword{
   position:absolute !important;
      margin-top: 16% !important;
          width: -webkit-fill-available;
                  margin-right: 2%;
        margin-left: 1%;
}
.togglePassword{
   border: none !important;
        background: none !important;
        position: absolute;
        left: 95%;
        top: 52%;
        transform: translate(-50%, -50%);
        color:#8C8C8C !important;
}
.submitbutton {
                  width: 100% !important;
        height: 50px !important;
        border-radius: 10px !important;
        font-family: "Inter", sans-serif !important;
        font-size: 14px !important;
        font-weight: 600 !important;
        line-height: 21px !important;
        text-align: center !important;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        background-color: #30C37C !important;
        color: #ffffff !important;
}


}

/* Medium Devices (Tablets, 576px to 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
.changepasswordpart{
  margin-top:1% !important;
}
.adminchangepassword{
   position:absolute !important;
      margin-top: 12% !important;
          width: -webkit-fill-available;
                  margin-right: 2%;
        margin-left: 1%;
}
.togglePassword{
       border: none !important;
        background: none !important;
        position: absolute;
        left: 95%;
        top: 52%;
        transform: translate(-50%, -50%);
        color:#8C8C8C !important;
}
.submitbutton {
           width: 100% !important;
        height: 50px !important;
        border-radius: 10px !important;
        font-family: "Inter", sans-serif !important;
        font-size: 14px !important;
        font-weight: 600 !important;
        line-height: 21px !important;
        text-align: center !important;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        background-color: #30C37C !important;
        color: #ffffff !important;
}
}

/* Large Devices (Desktops, 768px to 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
.changepasswordpart{
  margin-top:1% !important;
}
.adminchangepassword{
   position:absolute !important;
      margin-top: 10% !important;
          width: -webkit-fill-available;
                  margin-right: 2%;
        margin-left: 1%;
}
.togglePassword{
    border: none !important;
        background: none !important;
        position: absolute;
        left: 95%;
        top: 52%;
        transform: translate(-50%, -50%);
        color:#8C8C8C !important;
}
.submitbutton {
           width: 100% !important;
        height: 50px !important;
        border-radius: 10px !important;
        font-family: "Inter", sans-serif !important;
        font-size: 14px !important;
        font-weight: 600 !important;
        line-height: 21px !important;
        text-align: center !important;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        background-color: #30C37C !important;
        color: #ffffff !important;
}
}

/* Laptop Devices (992px to 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
.changepasswordpart{
  margin-top:1% !important;
}
.adminchangepassword{
   position:absolute !important;
      margin-top: 6% !important;
          width: -webkit-fill-available;
                  margin-right: 2%;
        margin-left: 1%;
}
.togglePassword{
    border: none !important;
        background: none !important;
        position: absolute;
        left: 95%;
        top: 52%;
        transform: translate(-50%, -50%);
        color:#8C8C8C !important;
}
.submitbutton {
           width: 50% !important;
        height: 50px !important;
        border-radius: 10px !important;
        font-family: "Inter", sans-serif !important;
        font-size: 14px !important;
        font-weight: 600 !important;
        line-height: 21px !important;
        text-align: center !important;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        background-color: #30C37C !important;
        color: #ffffff !important;
}
}

/* Extra Large Devices (Wide Screens, 1200px and above) */
@media (min-width: 1200px) {
.changepasswordpart{
  margin-top:1% !important;
}
.adminchangepassword{
 position:absolute !important;
      margin-top: 5% !important;
          width: -webkit-fill-available;
                  margin-right: 2%;
        margin-left: 1%;
}
.togglePassword{
   border: none !important;
        background: none !important;
        position: absolute;
        left: 95%;
        top: 52%;
        transform: translate(-50%, -50%);
        color:#8C8C8C !important;
}
.submitbutton {
           width: 50% !important;
        height: 50px !important;
        border-radius: 10px !important;
        font-family: "Inter", sans-serif !important;
        font-size: 14px !important;
        font-weight: 600 !important;
        line-height: 21px !important;
        text-align: center !important;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        background-color: #30C37C !important;
        color: #ffffff !important;
}
}