
 #dropZone {
      position: relative;
      /* border: 2px dashed #ccc; */
      border-radius: 10px;
      padding: 20px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      text-align: center;
      width: 180px;
      height: 200px;
      margin: 0 auto;
       background-color:#ededed;
    }
    #dropZone.dragover {
      background-color: #f5f5f5;
       border-color: #30C37C;
    }
    .profile-user-img {
    width: 100% !important;
    position: absolute !important;
    top: 0% !important;
    height: 100% !important;
    left: 0% !important;
    border-radius:10px !important;
    }
    .form-check-input{
  background-color: #8C8C8C !important;
    color: #ffffff !important;
    border:1px solid ##8C8C8C !Important;
}
.row1{
      padding-left: 1.5% ! important;
    padding-right: 2% !important;
}
    .camera-icon {
      font-size: 1rem;
      color: #ffffff;
      position: absolute;
      top: 82%;
      left: 50%;
      align-content:center;
      transform: translate(-50%, -50%);
      z-index: 1;
      border:1px solid #30C37C;
      background-color:#30C37C;
      border-radius:50%;
      width:18%;
      height:15%;

    }
    .checkinput:checked {
  background-color: #30C37C !important;
  border: none;
}
.userimage1{
      border-radius: 10px;
    width: 100%;
    height: 100% !important;
}
table th {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
  color: #262D34;
  border:none !important;
  white-space: nowrap; /* Ensure text doesn't wrap */
  background-color:#FCFCFD !important;
}
.link{
      height: 20px !important;
      border-radius:10px !important;
}
.page-link{
    color: #262D34 !important;
     border-radius:10px !important;
}
 .box-profile p{
                 width: 100% !important;
        margin-top: 2%;
        font-size: 14px !important;
        font-family: "Inter", sans-serif;
        font-weight: 400 !important;
    }
    .card-header h3{
font-family: 'Inter', sans-serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 16px !important;
        line-height: 39px !important;
    color: #262D34 !important;
    height: 27px !important;
        margin-left: 1.5%;
}
table {
  --bs-table-striped-bg: #ffffff !important;
}

table td {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #262D34;
  /* border:none !important; */
  white-space: nowrap; /* Ensure text doesn't wrap */
}
table tr {
    border-bottom:1px solid  #262d341a  !important;
    border-top:none;
    border-left:none;
    border-right:none;

}
.addsuccess{
  font-size: 14px;
                font-weight: 400;
                color: #363636;
                font-family: 'Inter', sans-serif;
                margin-top: -1.5rem;
                margin-bottom: 20px;
}
.back{
    color: #30C37C !important;
    background-color: #ffffff !important;
    border: 1px solid #30C37C !important;
    width: 100% !important;
    height: 50px !important;
    font-family: "Inter", sans-serif !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 40px !important;
    text-align: center !important;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    border-radius: 10px !important;
}
.save{
   background-color: #30C37C !important;
   border:1px solid  #30C37C !important;
   height:50px !important;
color: #ffffff !important;
width:100%;
font-family: "Inter",sans-serif !important;
font-size: 14px !important;
font-weight: 600 !important;
line-height: 21px !important;
text-align: center !important;
text-underline-position: from-font;
text-decoration-skip-ink: none;
border-radius:10px !important;
margin-bottom:2%;
}
.back:hover{
  border:1px solid  #30C37C !important;
}

.editcustomerpart{
  margin-top:6% !important;
}
@media (max-width: 575.98px) {
.editcustomerpart{
  margin-top:5% !important;
}
 #dropZone {
      position: relative;
      /* border: 2px dashed #ccc; */
      border-radius: 10px;
      padding: 20px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      text-align: center;
      width: 100%;
      height: 200px;
      margin: 0 auto;
       background-color:#ededed;
    }
    .box-profile p{
                 width: 100% !important;
        margin-top: 2%;
        font-size: 14px !important;
        font-family: "Inter", sans-serif;
        font-weight: 400 !important;
    }
}
@media (min-width: 375px) {
.editcustomerpart{
  margin-top:17% !important;
}
 #dropZone {
      position: relative;
      /* border: 2px dashed #ccc; */
      border-radius: 10px;
      padding: 20px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      text-align: center;
      width: 100%;
      height: 200px;
      margin: 0 auto;
       background-color:#ededed;
    }
    .box-profile p{
                 width: 100% !important;
        margin-top: 2%;
        font-size: 14px !important;
        font-family: "Inter", sans-serif;
        font-weight: 400 !important;
    }
}

/* Medium Devices (Tablets, 576px to 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
.editcustomerpart{
  margin-top:15% !important;
}
 #dropZone {
      position: relative;
      /* border: 2px dashed #ccc; */
      border-radius: 10px;
      padding: 20px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      text-align: center;
      width: 100%;
      height: 200px;
      margin: 0 auto;
       background-color:#ededed;
    }
    .box-profile p{
                 width: 100% !important;
        margin-top: 2%;
        font-size: 14px !important;
        font-family: "Inter", sans-serif;
        font-weight: 400 !important;
    }
}

/* Large Devices (Desktops, 768px to 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
.editcustomerpart{
  margin-top:8% !important;
}
 #dropZone {
      position: relative;
      /* border: 2px dashed #ccc; */
      border-radius: 10px;
      padding: 20px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      text-align: center;
      width: 100%;
      height: 200px;
      margin: 0 auto;
       background-color:#ededed;
    }
    .box-profile p{
                 width: 100% !important;
        margin-top: 2%;
        font-size: 14px !important;
        font-family: "Inter", sans-serif;
        font-weight: 400 !important;
    }
}

/* Laptop Devices (992px to 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
.editcustomerpart{
  margin-top:8% !important;
}
 #dropZone {
      position: relative;
      /* border: 2px dashed #ccc; */
      border-radius: 10px;
      padding: 20px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      text-align: center;
      width: 100%;
      height: 200px;
      margin: 0 auto;
       background-color:#ededed;
    }
    .box-profile p{
                 width: 100% !important;
        margin-top: 2%;
        font-size: 14px !important;
        font-family: "Inter", sans-serif;
        font-weight: 400 !important;
    }
}

/* Extra Large Devices (Wide Screens, 1200px and above) */
@media (min-width: 1200px) {
.editcustomerpart{
  margin-top:6% !important;
}
 #dropZone {
      position: relative;
      /* border: 2px dashed #ccc; */
      border-radius: 10px;
      padding: 20px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      text-align: center;
      width: 100%;
      height: 200px;
      margin: 0 auto;
       background-color:#ededed;
    }
    .box-profile p{
                 width: 100% !important;
        margin-top: 2%;
        font-size: 14px !important;
        font-family: "Inter", sans-serif;
        font-weight: 400 !important;
    }
}